/* Custom switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4CD864;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4CD864;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .d-flex {
      display: flex;
      align-items: center;
  }
  .d-flex .mr-3 {
      margin-right: 15px;
  }
  .date_flex,.wrapper_form{
    display: flex;
  }
  .wrapper_form .input-group-sm>.form-control,
  .wrapper_form .input-group-sm>.input-group-btn>.btn {
    height: 34px;
  }
  .table>tbody>tr>td {
    vertical-align: middle;
  }
  .wrapper_form .date {
    margin-right: 10px;
    position: relative;
  }
  .wrapper_form .date .wrapper_date {
    display: flex;
  }
  .wrapper_form .date .wrapper_date .input-group-addon {
    display: flex;
    align-items: center;
    width: unset;
  }
  .swal2-popup {
    font-size: 1.5rem !important;
    width: 35rem !important;
  }
  .box-header {
    margin-bottom: 35px;
  }
  .btn-option {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 30px;
  }
  .mr-1 {
    margin-right: 10px;
  }
  .error {
    color: #dd4b39;
    margin-top: 5px;
    margin-bottom: 0;
  }
  .required {
    color: #dd4b39;
  }